
	<strong>Name: </strong>
	<%= job.name %>

	<p>Containers Needed: </p>
	<%= job.container %>

	<p>Cargo Details: </p>
	<%= job.cargo %>

	<p>Origin: </p>
	<%= job.destination %>

	<p>Job Cost: </p>
	<%= job.cost %>

	<p>Destination: </p>
	<%= job.destination %>

