<h1>Boats#new</h1>
<p>Find me in app/views/boats/new.html.erb</p>

<%=form_for @boat do |f| %>
<%=f.label :name %>
<%=f.text_field :name %>
<%=f.label :capacity %>
<%=f.text_field :capacity %>
<%=f.label :location %>
<%=f.select(:location, options_for_select([["NYC","NYC"], ["LA", "LA"]]),{include_blank:true})%>
<%=f.file_field :avatar %>
<%=f.submit "Create Boat" %>
<%end%>

<%#= form_for @boat, url: boats_path, html: { multipart: true } do |form| %>  
<%#= form.file_field :avatar %>
<%# end %>