<h1><%= @boat.name %></h1>
<p>Find me in app/views/boats/show.html.erb</p>


<%= image_tag @boat.avatar.url(:medium) %>


<h2>Jobs</h2>
	<%= render @boat.jobs %>


<h2>Add jobs</h2>
	<%= render "jobs/form" %>

<% if !@following %>
	<p id="pop"><%= link_to "Follow", follow_create_path(@boat) , remote: true %></p>
<%else%>
	<p id="pop2"><%= link_to 'Unfollow Boat', follow_path(@boat.id), method: :delete, remote: true %></p>
<%end%>