<!DOCTYPE html>
<html>
<head>
  <link rel="icon" type="images/gif" href="http://orig14.deviantart.net/a724/f/2015/059/3/6/left_shark_by_addmedia-d8jwzud.gif">
  <title>SecureApp2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <ul>
      <% if session[:user_id] %>
      <li><a href="/">HOME</a></li>
      <li><a href="/users/show">YOUR BOATS</a></li>
      <li><%= link_to "CREATE NEW BOAT", new_boat_path %></li>
      <li><%= link_to "YOUR FOLLOWS", follows_path %></li>
      <li><a href="/log-out">LOG OUT</a></li>
      <% else %>
      <li><%= link_to "HOME", "/" %></li>
      <li><%= link_to "SIGN UP", new_user_path %></li>
      <li><a href="/log-in">LOG IN</a></li>
      <% end %>
    </ul>
  </nav>
  <%= flash[:notice] if flash[:notice] %>
  <%= flash[:error] if flash[:error] %>
  <%= flash[:alert] if flash[:alert] %>
<%= yield %>

</body>
</html>
